body {
    background: #F5EFAD;
}

h1{
    margin-top: 50px;
    text-align: center;
    color: #553A2E;
    font-family: "Rubik Doodle Shadow";
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    filter: drop-shadow(1px 1px 0px #000);
}

form{
    background-image: url('/static/main/img/form.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    max-height: 550px;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 32px 30px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
}

p{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #553A2E;
    margin: 0;
    padding-top: 5px;
}

.form-select{
    display: block;
    margin-top: 8px;
    border: 1px solid #CFB9AE;
    border-radius: 5px;
    background: white;
    width: 100%;
    height: 40px;
    font-weight: 400;
    padding-left: 15px;
}

.form-select-home{
    display: inline-block !important;
    width: 60%;
    margin-left: 10px;
}

input[type="checkbox"].form-check-input {
    all: unset !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    position: relative !important;
    display: inline-block !important;
    width: 24px !important;
    height: 24px !important;
    vertical-align: middle !important;
    margin-right: 10px !important;
    cursor: pointer !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

input[type="checkbox"].form-check-input::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
    border: 2px solid #553A2E;
    border-radius: 4px;
    background: white;
    transition: all 0.2s;
}

input[type="checkbox"].form-check-input:checked::after {
    content: url('/static/main/img/check.svg');
    transform: scale(0.6);
    position: absolute;
    margin-left: 4px;
}

input[type="checkbox"]:hover::before {
    box-shadow: 0 0 5px rgba(139, 69, 19, 0.3);
}

button{
    background-color: #88695B;
    color: white;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    background-color: #CFB9AE
}

#pochacco {
    position: fixed;
    right: 90px;
    width: 307px;
    height: 310px;
    bottom: 40px;
    background-image: url('/static/main/img/pocchiaco.png');
}

#pompurin {
    position: fixed;
    bottom: 1px;
    left: 6px;
    width: 285px;
    height: 218px;
    background-image: url('/static/main/img/pompurin.png');
}




